{% extends "base.html" %}
<title>{% block title %}NewItem{% endblock %}</title>
{% block content %}
<table>
  <td width=40%>　</td>
  <td>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    Member:
  </br>
    {% for member in member_list %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" style = "border:1px solid rgba(255, 255, 255, 1)" type="checkbox" name = "membercheckbox" id="{{member}}" value="{{member}}"">
      <label class="form-check-label" for="{{member}}">{{member}}</label>
    </div>
    {% endfor %}
    <br>
    <input type="submit" value="save" style="margin-top: 10px" />
  </form>
  </td>
  <td width=40%>　</td>
<table>
{% endblock content %}

